.DS_Store
svg-inkscape
scratch
.ipynb_checkpoints

*.pdf
*.tex
*.aux
*.bcf
*.log
*.run.xml
*.tex.bbl
*.toc
*.bbl
*.blg
*.nav
*.snm
*.tex.blg
*.vrb
%.fls
*.fdb_latexmk

*.svg
*.png
*.jpg

*/*.svg
*/*.png
